@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    font-family: 'Poppins', sans-serif;
} */
.about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 75vh;
}

.about-left {
    position: relative;
    background: lavender;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

.about-left-content>div {
    background: #a683e3;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}

.about-left-content {
    position: absolute;
    left: 17.5em;
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}

.about-img img {
    display: block;
    width: 200px;
}

.about-img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.shadow {
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}

.shadow::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}

.shadow:hover .about-img {
    transform: translateY(-10px);
}

.shadow:hover::after {
    opacity: 1;
}

.about-left-content h2 {
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}

.about-left-content h3 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}

.icons {
    background: lavender;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}

.icons li {
    list-style-type: none;
    background: #a683e3;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.fab::before {
    color: #000;
}

.icons li:hover {
    background: lavender;
}

.about-right {
    margin-right: 7.5em;
    background: lavender;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}

.about-right h1 {
    font-size: 7rem;
    text-transform: uppercase;
}

.about-right h1 span {
    color: #a683e3;
}

.about-right h2 {
    font-weight: 600;
}

.about-btns {
    display: flex;
    margin: 2rem 0;
}

.btn {
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}

.btn.btn-lavender {
    background: #a683e3;
    color: #fff;
    border-color: #a683e3;
    transition: all 0.5s ease-in-out;
}

.btn.btn-lavender:hover {
    background: transparent;
    border-color: #a683e3;
    color: #000;
}

.btn.btn-white {
    transition: all 0.5s ease-in-out;
}

.btn.btn-white:hover {
    background: #a683e3;
    border-color: #a683e3;
    color: #fff;
}

.about-para p {
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

footer {
    margin-top: 1em;
}

@media screen and (max-width: 1400px) and (min-width: 600px) {
    .about-wrapper {
        display: block;
    }

    .about-left-content {
        left: auto;
    }

    .about-right {
        height: 40vh;
        margin-right: auto;
    }

    .about-right h1 {
        margin-top: 4em;
        font-size: 4em;
    }

    .about-right h2 {
        font-size: 1.5em;
        font-weight: 600;
    }
}

@media screen and (max-width: 599px) {
    .about-wrapper {
        display: block;
    }

    .about-left{
        height: 70vh;
    }

    .about-left-content {
        left: auto;
    }

    .about-right {
        height: 40vh;
        margin-right: auto;
    }

    .about-right h1 {
        margin-top: 4em;
        font-size: 4em;
    }

    .about-right h2 {
        font-size: 1.5em;
        font-weight: 600;
    }

    .about-para p {
        font-weight: 300;
        padding: 0;
        opacity: 0.8;
    }
}